.cogi-input-c {
    display: inline-block;

}

.cogi-input-label {
    font-size: 0.87rem;
    line-height: 1rem;
    padding: 0.1rem 0.1rem;
    color: white;
}

.cogi-input-label-tail {
    font-size: 0.87rem;
    line-height: 1rem;
    padding: 0.1rem 0.1rem;
    color: white;
}


.cogi-input-input {
    outline-style: none;
    border: 0.001rem solid rgb(252, 250, 250);
    border-radius: 0.2rem;
    padding: 0.2rem 0.2rem;
    width: 9rem;
    font-size: 0.8rem;
    margin: 0.2rem 0.2rem 0.2rem 0.5rem;
}

