.body-dragger-container {
    position: absolute;
}

.body-dragger-header{
    height: 2rem;
    background: rgb(9, 38, 47);
    user-select: none;
    cursor: pointer;
    
}

.body-dragger-header div {
    line-height: 2rem;
}
